 .todoUl {
    margin: 0;
    padding: 0;
}
 .todoUl li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #ededed;
    padding: 20px 20px 20px 60px;
    display: flex;
    align-items: center;
    color: #666;
}
 .todoUl li .checkBox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
}
 .todoUl li .checked::after {
    content:'';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background: url('../../sources/images/icon_gou.png') no-repeat center;
    background-size:100%;
}
 .todoUl li .done {
    color: #999;
    text-decoration:line-through;
 }
 .todoUl li .delButton {
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 30px;
    color: #999;
    transition: color 0.2s ease-out;
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 1px solid #999;
    border-radius: 50%;
}
 .todoUl li:hover .delButton{
    display: block;
}
 .todoUl li .delButton::after {
    content: '×';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
 .todoUl li .delButton:hover {
    color: #fff;
    border-color:#333;
    background: #333;
}
