
.todoView {
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    width: 550px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todoView .todoUl {
    margin: 0;
    padding: 0;
}
.todoView .todoUl li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #ededed;
    padding: 20px 20px 20px 60px;
    display: flex;
    align-items: center;
}
.todoView .todoUl li .checkBox {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
}
.todoView .todoUl li .checked::after {
    content:'';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background: url('../../assets/images/icon_gou.png') no-repeat center;
    background-size:100%;
}

.todoView .todoUl li .delButton {
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.todoView .todoUl li:hover .delButton{
    display: block;
}
.todoView .todoUl li .delButton::after {
    content: '×';
}
.todoView .todoUl li .delButton:hover {
    color: #af5b5e;
}
.todoView .todoInput {
    width: 100%;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    font-size: 24px;
    box-sizing: border-box;
}
.todoView .todoInput::-webkit-input-placeholder {
    color: #eee;
}

.todoView .inputBox {
    position: relative;
}
.todoView .toggleAll {
    width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%) rotate(90deg);
}
.todoView .toggleAll::after {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}
.todoView .toogleCheck::after {
    color: #737373;
}

.todoView .clearAll {
    padding: 10px;
    text-align: right;
    font-size: 24px;
    color:#777;
}